body{
  width: 100%;
  margin: 0 auto;
  background-color:#FAFAFA;
  postition: relative;
  /*border-style: solid;
  border-width: .2em;
  border-color: red;*/
}

/*.container{
  width: 100%;
  margin: 0 auto;
}*/

#top-half{
  height: 10em;
  background-color: #1A2350;
  color: white;
  box-sizing: border-box;
  /*border-style: solid;
  border-width: .2em;
  border-color: yellow;*/
}

#question{
  height: auto;
  width: 75%;
  margin: -55px auto;
  padding: 45px 10px 30px 10px;
  font-family: helvetica;
  text-align: center;
  color: white;
  background-color: #303F89;
  /*border-style: solid;
  border-width: .2em;
  border-color: black;*/
  position: relative;
  z-index: 1;
  box-shadow: 0 10px 20px
    rgba(0,0,0,0.19), 0 6px 6px
    rgba(0,0,0,0.23);
}

#answers{
  height: auto;
  width: 75%;
  margin: 55px auto;
  padding: 45px 10px 30px 10px;
  font-family: helvetica;
  color: #000000;
  background-color: #FAFAFA;
  position: relative;
  z-index: 1;
  box-shadow: 0 10px 20px
    rgba(0,0,0,0.19), 0 6px 6px
    rgba(0,0,0,0.23);
}

/*#bottom-half{
  height: 20em;
  background-color: #FAFAFA;
  box-sizing: border-box;
  z-index: 1;
}*/

/*buttons*/
.question-number{
  height: 100px;
  width: 100px;
  background-color: #FFC107;
  border-radius: 50%;
}

.score{
  height: 100px;
  width: 100px;
  background-color: #FFC107;
  border-radius: 50%;
}

.new-quiz{
  height: 100px;
  width: 100px;
  background-color: #FFC107;
  border-radius: 50%;
}
