html{
  height: 100%;
}

body{
  min-height: 100%;
  background-color: #013A6B;
  background-image: -webkit-linear-gradient(80deg, #FAFAFA 50%, #263238 50%);
  overflow: hidden;
}



#questionaire{
  height: auto;
  width: 60%;
  margin: 20em auto;
  background-color: #FAFAFA;
  box-shadow: 0 10px 20px
    rgba(0,0,0,0.19), 0 6px 6px
    rgba(0,0,0,0.23);
}

#question{
  padding: 20px 10px;
  font-size: 2em;
  font-family: helvetica;
  text-align: center;
}

#answers {
  padding: 5px 10px;
}

#answers ul{
  list-style-type: none;
  font-family: helvetica;
  font-size: 1.5em;
  color: #000000;
  text-align: left;
  margin-left: 30%;
}
